<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anastasi.fit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.anastasi.fit.InitialActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anastasi.fit.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.anastasi.fit.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.anastasi.fit.SignUpActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.anastasi.fit.CreateRecipeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.anastasi.fit.CreateIngredientActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.anastasi.fit.MyIngredientsActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity><activity
            android:name="com.anastasi.fit.MyRecipesActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>